body {
    background-color: #FEFEFE;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    font-size: 1.05em;
    font-weight: 300;
    letter-spacing: 0.04em;
}

h1 {
    border-bottom: 2px solid #000;
    padding-bottom: 15px;
    font-size: 2.4em;
    letter-spacing: -0.02em;
    font-weight: 900;
    margin-bottom: 30px;
}

li {
    list-style: none;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    box-shadow: 1px 2px 2px rgba(10, 10, 10, .5);
    text-transform: uppercase;
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 7px 10px;
}

p {
    margin: 10px 0 50px;
}

.content {
    max-width: 640px;
    margin: 60px auto 0;
}

code {
    font-size: 1.2em;
    background-color: #DCE7E2;
}


footer {
    text-align: center;
}

footer a {
    text-decoration: none;
}
/* 
.triangle {
    width: 0;
    height: 0;
    z-index: -1;
    margin-top: 50px;
    position: absolute;
    border-top: 20px solid #888;
    border-right: 40px solid transparent;
} */
.conjugation {
    position: absolute;
    margin-top: 55px;
    font-size: 1.7em;
    margin-left: -11px;
}